<% simple_menu.active = :about %>
<% breadcrumb.add "Sobre" %>

<h1>Sobre Mim</h1>

<p>
  Olá. Eu sou o Marcelo. Sou desenvolvedor web. Tenho mais de 5 anos de
  experiência na área. Me interesso em escrever código de qualidade,
  utilizando tecnologias de ponta bem como metodos ágeis.
  <%= link_to('Veja as ferramentas/conecitos que venho usando ao longo dos anos', portfolio_technologies_path) %>.
  Me coloco a disposição para fazer o seu site <%= link_to('1','#note1', class: :note) %>, blog <%= link_to('2','#note2', class: :note) %>,
  e-commerce <%= link_to('3','#note3', {class: :note}) %>.
</p>

<p>
  Sou <%= link_to('casado', 'http://www.pamelajacobus.com.br', target: :_blank) %>, moro em Novo Hamburgo,
  Rio Grande do Sul. Já morei em Porto Alegre e em Dongguang (东莞), na China. Sou Testemunha de Jeová.
  e gosto de falar sobre minhas crenças, bíblia, teoria da evolução, religiões (sempre respeitosamente, com o objetivo
  de edificar).
</p>

<p>
  Gosto de comédia, sou bem humorado e aprecio o sarcasmo (sério?) como forma de humor. O ruim de ser sarcástigo,
  é que quando as pessoas não te entendem, pensam que você é um idiota.
</p>




<div class="more_about item">
  <h2>Saiba Mais</h2>
  <ul>
    <li><%= link_to('Trabalhos que fiz', '#portfolio') %></li>
    <li><%= link_to('Ferramentas que uso', portfolio_technologies_path) %></li>
    <li><%= link_to('Minhas crenças', 'http://www.jw.org/pt/testemunhas-de-jeova/', target: :_blank) %></li>
  </ul>
</div>

<div id="notes">
  <p id="note1"><abbr>1</abbr> Não me contrate para fazer um <q>saitizinho bem simples</q>, pois se vocẽ
  está me contratando é porque você provavelmente não sabe como se faz um.
  Se você não sabe como se faz um, você <strong>não sabe avaliar a dificuldade</strong>.</p>
  
  <p id="note2"><abbr>2</abbr> Sim, o seu sobrinho faz mais barato.</p>
  
  <p id="note3"><abbr>3</abbr> Não me peça para fazer um e-commerce.</p>
</div>