<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Marcelo Jacobus"%></title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
<body>
    <header>
      <nav id="main_menu">
        <% simple_menu.add(:about, 'Sobre Mim', static_path('about')) %>
        <% simple_menu.add(:portfolio, 'Meus Trabalhos', portfolio_jobs_path %>
        <% simple_menu.add(:technologies, 'Tecnologias', portfolio_technologies_path) %>
        <%= raw simple_menu %>
      </nav>
      
      <div class="owner">
        Marcelo Jacobus
      </div>
      
      <div class="testimonials">
        <p><q>O Marcelo é dos melhores web developers lá de casa.</q><small> - Esposa</small></p>
        <p><q>Mais de 100 milhões de sites vendidos no Brasil.</q><small> - Fausto Silva</small></p>
        <p><q>Não estou interessado em religião.</q><small> - Morador do bairro Ouro Branco</small></p>
        <p><q>Eu queria que ele estudasse, mas ele decidiu ser programador...</q><small> - Mãe</small></p>
        <p><q>Nunca ninguém programou como este</q><small> - Uma multidão assombrada</small></p>
        <p><q>Blasfemas!</q><small> - Fariseu com uma pedra na mão</small></p>
        <p><q>Que guri bobo.</q><small> - Avó</small></p>
      </div>
    </header>
    
    <div id="breadcrumb">
      <% breadcrumb.prepend('Marcelo Jacobus', root_url) %>
      <%= raw breadcrumb %>
    </div>
  
    <div id="view"><%= yield %></div>
  
    <footer>
      <address>
        Novo Hamburgo - Rio Grande do Sul <br/>
        <script type="text/javascript">
          document.write("marcelo.jacobus@gmail.com<br/>");
          document.write("(51) 9818-7310")
        </script>
      </address>
    </footer>
  </body>
</html>
